/* Estilos globales para la barra de desplazamiento */

/* Firefox */
html {
  scrollbar-width: auto;
  scrollbar-color: #9333ea transparent;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #9333ea;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a855f7;
}